.hero{
    background-image: url(../img/about-cyborg1.png);
    background-position: bottom center;
    background-repeat: no-repeat;
}
article{
    padding: 2em 20px;
}
.method{
    background: linear-gradient(90deg, rgba(29,29,29,.97) 0%, rgba(29,29,29,.97) 100%), url("../img/noise.png");
    color: white;
}
article h2{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}
article h3{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
}
p{  
    font-size: 0.875em;
    line-height: 1.4;
}
p+p{
    margin-top: 1em;
}
section+section{
    margin-top: 1em;
}
table{
    width: 100%;
    text-align: center;
}
caption{
    font-size: 0.75em;
    margin: 1em 0;
}
table, td, th{
    border: 1px solid rgb(29, 29, 29);
    border-collapse: collapse;
}
th{
    font-weight: bold;
}
td,th{
    padding: 1em;
    font-size: 0.75em;
}